node_modules/
.pnpm-store/

dist/
build/
out/
coverage/
*.log
pnpm-debug.log*

# Test log files written by FileReporter
logs/

.env
.env.*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea/

.private/ 
